<app-hero></app-hero>
<app-programs-section></app-programs-section>
<app-about-section></app-about-section>
<div class="ui-section-spacer ui-section-spacer--xl" aria-hidden="true"></div>
<app-locky-games-section></app-locky-games-section>
<app-apprenticeship-section></app-apprenticeship-section>
<app-quality-section></app-quality-section>
<app-events-section></app-events-section>
<app-press-section></app-press-section>
<app-business-solutions-section></app-business-solutions-section>
<app-reviews-section></app-reviews-section>
